config AS21XXX_PHY_192
	tristate "Aeonsemi AS21xxx PHYs v1.9.2"
	depends on !AS21XXX_PHY
	help
	  Currently supports the Aeonsemi AS21xxx PHY.

	  These are C45 PHYs 10G that require all a generic firmware.

	  Supported PHYs AS21011JB1, AS21011PB1, AS21010JB1, AS21010PB1,
	  AS21511JB1, AS21511PB1, AS21510JB1, AS21510PB1, AS21210JB1,
	  AS21210PB1 that all register with the PHY ID 0x7500 0x7500
	  before the firmware is loaded.

config CONFIG_AS21XXX_DEBUGFS
	tristate "Aeonsemi AS21xxx DEBUG-FS"
	depends on AS21XXX_PHY_192
	help
	  Debugfs entries for Aeonsemi AS21xxx PHY.