// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Author: Frank Wunderlich <frank-w@public-files.de>
 *
 */

/dts-v1/;
#include "rk3568-bpi-r2-pro.dts"

/ {
	rtkgsw_red: rtkgsw_red@0 {
		compatible = "realtek,rtk-gsw"; //reduced phy driver
		realtek,mdio = <&mdio1>;
		realtek,reset-pin = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>;
		realtek,extifconfig = "rgmii,rgmii"; //own property to setup rgmii instead of sgmii
		status = "disabled";
	};
};

&gmac0 {
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>, <&cru CLK_MAC0_2TOP>;
	clock_in_out = "input";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
		     &gmac0_tx_bus2
		     &gmac0_rx_bus2
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_bus>;
	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;
	tx_delay = <0x3c>;
	rx_delay = <0x2f>;
	status = "okay";
	/delete-node/ fixed-link;
};

&gmac1 {
	/delete-property/ phy-handle;
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&cru CLK_MAC1_2TOP>;
	clock_in_out = "output";
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
		     &gmac1m1_tx_bus2
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk
		     &gmac1m1_rgmii_bus>;

	snps,reset-gpio = <&gpio0 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	tx_delay = <0x4f>;
	rx_delay = <0x26>;

	status = "okay";

	fixed-link {
		speed = <1000>;
		full-duplex;
		pause;
	};
};

&mdio0 {
	rgmii_phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
	};
};

/delete-node/ &rgmii_phy1;

&mdio1 {
	//ethernet-phy@0 needs to be deleted
	rtkgsw_dsa: switch1 {
		compatible = "realtek,rtl8367s";
		realtek,reset-pin = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>;
		reg = <0>;
		status = "disabled";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				label = "lan0";
			};

			port@1 {
				reg = <1>;
				label = "lan1";
			};

			port@2 {
				reg = <2>;
				label = "lan2";
			};

			port@3 {
				reg = <3>;
				label = "lan3";
			};

			port@6 {
				reg = <6>;
				ethernet = <&gmac1>;
				phy-mode = "rgmii";
				realtek,ext-int = <1>;

				tx-internal-delay-ps = <0>;
				rx-internal-delay-ps = <0>;

				fixed-link {
					speed = <1000>;
					full-duplex;
					pause;
				};
			};
		};
	};
};

&pmu_io_domains {
	pmuio1-supply = <&vcc3v3_pmu>;
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vccio_acodec>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_1v8>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_3v3>;
	vccio7-supply = <&vcc_3v3>;
	status = "okay";
};

&rtkgsw_dsa {
	status = "okay";
};

&rtkgsw_red {
	//status = "okay";
};

