// SPDX-License-Identifier: GPL-2.0-only OR MIT

/dts-v1/;

#include "mt7988a-bananapi-bpi-r4.dtsi"

/ {
	/* SFP1 cage (WAN) */
	sfp1: sfp1 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c_sfp1>;
		los-gpios = <&pio 54 GPIO_ACTIVE_HIGH>;
		mod-def0-gpios = <&pio 82 GPIO_ACTIVE_LOW>;
		tx-disable-gpios = <&pio 70 GPIO_ACTIVE_HIGH>;
		tx-fault-gpios = <&pio 69 GPIO_ACTIVE_HIGH>;
		rate-select0-gpios = <&pio 21 GPIO_ACTIVE_LOW>;
		maximum-power-milliwatt = <3000>;
	};

	/* SFP2 cage (LAN) */
	sfp2: sfp2 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c_sfp2>;
		los-gpios = <&pio 2 GPIO_ACTIVE_HIGH>;
		mod-def0-gpios = <&pio 83 GPIO_ACTIVE_LOW>;
		tx-disable-gpios = <&pio 0 GPIO_ACTIVE_HIGH>;
		tx-fault-gpios = <&pio 1 GPIO_ACTIVE_HIGH>;
		rate-select0-gpios = <&pio 3 GPIO_ACTIVE_LOW>;
		maximum-power-milliwatt = <3000>;
	};
};

&gmac1 {
	sfp = <&sfp2>;
	managed = "in-band-status";
	phy-mode = "usxgmii";
	status = "okay";
};

&gmac2 {
	sfp = <&sfp1>;
	managed = "in-band-status";
	phy-mode = "usxgmii";
	status = "okay";
};

&pca9545 {
	i2c_sfp2: i2c@2 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <2>;
	};
};
