// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 MediaTek Inc.
 * Author: Frank Wunderlich <frank-w@public-files.de>
 */

/dts-v1/;

#include "mt7988a-bananapi-bpi-r4-pro.dtsi"

/ {
	model = "Bananapi BPI-R4 Pro 4E";
	compatible = "bananapi,bpi-r4-pro-4e",
		     "bananapi,bpi-r4-pro",
		     "mediatek,mt7988a";
};

&gsw_phy2 {
	status = "okay";
};

&gsw_port2 {
	label = "lan5";
	status = "okay";
};

&switch16 {
	ports {
		port6: port@6 {
			reg = <12>;
			label = "lan6";
			phy-mode = "usxgmii";
			phy-connection-type = "usxgmii";
			managed = "in-band-status";
			sfp = <&sfp1>;

			status = "okay";
		};
	};
};
