#include "mt7988a-bananapi-bpi-r4-pro.dtsi"

/ {
	model = "Bananapi BPI-R4";
	compatible = "bananapi,bpi-r4-pro-8x",
		     "mediatek,mt7988a";
};

&gmac1 {
	phy-mode = "usxgmii";
	phy-connection-type = "usxgmii";
	phy-handle = <&phy28>;
	status = "okay";
};

&mdio_bus {
	clock-frequency = <12500000>;

	/* external Airoha AN8831X */
	phy28: ethernet-phy@28 {
		reg = <28>;
		compatible = "ethernet-phy-ieee802.3-c45";
		reset-gpios = <&pio 82 GPIO_ACTIVE_LOW>;
		reset-assert-us = <200000>;
		reset-deassert-us = <350000>;
		firmware-name = "aeonsemi/as21x1x_fw.bin";

		leds {
			#address-cells = <1>;
			#size-cells = <0>;

			phy28_led0: an8831x_phy28_led0@0 {
				reg = <0>;
				linux,default-trigger = "netdev";
				active-high;
				status = "okay";
			};

			phy28_led1: an8831x_phy28_led1@1 {
				reg = <1>;
				linux,default-trigger = "netdev";
				active-high;
				status = "okay";
			};
		};
	};
};
